[submodule "themes/hermit_zola"]
	path = themes/hermit_zola
	url = https://github.com/VersBinarii/hermit_zola
[submodule "themes/abridge"]
	path = themes/abridge
	url = https://github.com/jieiku/abridge.git
